html, body, #outerContainer, #root {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000;
}

.optionsContainer {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

.centered {
    margin: 0 auto;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.titleRow {
    margin-bottom: 15px;
}

.img-option {
    margin-bottom: 10px;
    cursor: pointer;
}

.img-title {
    width: 100%;
}

.img-link {
    cursor: pointer;
}

.optionsRow {
    width: 80%;
    margin: 0 auto;
}

.img-responsive2 {
    max-width: 100%;
}

video {
    width: 100%;
}

.video {
    margin: 0 auto;
    display: block;
    overflow: hidden;
}

.watchAgainButton {
    position: absolute;
    top: 5px;
    left: 5px;
}